/*MAINPAGE STYLES*/
/*SASS COLORS*/
/*GENERAL*/
body {
  background-color: #e9ebee;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #1176b6;
}

a:hover {
  text-decoration: underline;
}

/*HEADER*/
header {
  background-color: #1176b6;
  padding: 10px 0;
}

header #logo img {
  height: 22px;
}

header #searchbar form input[type=text] {
  width: 100%;
  background-color: #fff;
  border: none;
  font-size: 12px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px 0 0 3px;
  color: #6d6d6d;
}

header #searchbar form button {
  width: 100%;
  background-color: #fff;
  border: none;
  font-size: 12px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

header #searchbar form button:hover {
  background-color: #099efc;
  color: #fff;
}

header #menu {
  padding: 0;
}

header #menu a {
  color: rgba(255, 255, 255, 0.8);
}

header #menu a:hover {
  color: #fff;
}

header #menu #pph {
  display: inline-block;
  width: 22px;
  height: 22px;
}

header #menu #pph img {
  border-radius: 100px;
}

/*MAIN*/
main {
  padding-top: 20px;
}

main #sidebar {
  padding-bottom: 10px;
  padding-left: 0;
}

main #sidebar nav {
  border-bottom: 1px solid #c7c8ca;
  padding-bottom: 20px;
}

main #sidebar nav a {
  display: block;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  color: #3d3c3c;
}

main #sidebar nav a:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}

main #sidebar nav a i {
  margin-right: 10px;
}

/*main-col*/
main #main-col #publication {
  margin-bottom: 20;
}

main #main-col #publication .photo {
  padding-left: 15px;
}

main #main-col #publication .photo img {
  width: 100%;
}

main #main-col #publication .photo a {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 20px;
}

main #main-col #publication form textarea {
  width: 100%;
  max-width: 100;
  min-height: 100px;
  max-height: 300px;
  padding: 15px;
  border: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #565656;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.35);
}

main #main-col #publication #btn-container {
  padding: 20px 0;
  border-bottom: 1px solid #c7c8ca;
}

main #main-col #publication #btn-container a {
  color: #8d8d8d;
  font-size: 20px;
  margin-right: 10px;
}

main #main-col #publication #btn-container a:hover {
  color: #3d3c3c;
}

main #main-col #publication #btn-container button {
  border: 1px solid #00609c;
  padding: 5px 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #1a87cd 0%, #1176b6 100%);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

main #main-col #publication #btn-container button:hover {
  background: linear-gradient(to bottom, #1176b6 0%, #1a87cd 100%);
}

main .feed {
  margin-top: 1em;
  margin-bottom: 40px;
}

main .feed .photo {
  padding-left: 15px;
  margin-right: 15px;
}

main .feed .photo a {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
}

main .feed .photo a img {
  width: 100%;
}

main .feed .user-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
}

main .feed .comment-text {
  background-color: #fff;
  color: #3d3c3c;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 15px;
}

main .feed .post-img {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

main .feed .post-img img {
  width: 100%;
}

main .feed .button-pane {
  margin-bottom: 20px;
}

main .feed .post .button-pane button {
  background: #1176b6;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
}

main .feed .post .button-pane button:hover {
  background-color: #0d659d;
}

main .feed .post .button-pane p {
  margin-bottom: 0;
  color: #1176b6;
}

main .feed .comment {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c7c8ca;
}

main .feed .comment .photo {
  padding-left: 0;
}

main .feed .comment .photo a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

main .feed .comment form textarea {
  width: 100%;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  color: #565656;
  padding: 8px;
  min-height: 40px;
  height: 40px;
  min-width: 100%;
  max-width: 100%;
  font-size: 14px;
}

main .feed .comment .ans {
  margin-bottom: 10px;
  font-size: 14px;
}

main .feed .comment .like {
  margin-bottom: 10px;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
